@font-face {
  font-family: "OCR A";
  src: url("./fonts/OCRAEXT.TTF") format("truetype");
}

body {
  margin:2vw;
  max-height:100%;  /* added */
  max-width:100%;  /* added */
  background-color: transparent;
  padding-left:3vw;
  padding-right:3vw;
  padding-top:3vh;
  padding-bottom: 3vh;
  scroll-behavior: smooth;

  font-family: "OCR A", sans-serif;
  font-size:  14px;
  font-weight: 100;
  color: #BDB68A;
  text-align: center;
}

html { 
    background-image: url(./images/bkgd.jpg); 
    background-color: rgba(87,39,102,1);
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: url(./images/cursor.png) 25 25, auto;
  }

.topSection {
  display:  flex;
  flex-direction: row;
  justify-content: space-between;

}

.topDiv {
  text-align: left;
  vertical-align: middle;
  display: flex;
  margin: 2vw;
}

a {
  color: white;
}

h1 {
  font-family: "OCR A", sans-serif;
  font-size:  16px;
  font-weight: 100;
  color: white;
}

h2 {
  font-weight: 400;
}

#bed {
  margin-top: -5em;
  left: 50%;
  background-image: url(./images/bed.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  padding: 6vw;
}

      #bed:hover {
        transform: rotate(5deg);
      }

#why {
  margin-top: 7.5em;
  float: left;
  background-image: url(./images/why.png);
  background-size: contain;
  background-position: 40% 45%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  padding: 7vw;

  color: #000870;
}

      #why:hover {
        transform: rotate(-7deg);
      }

#presence {
  margin-top: 3em;
  right: 4px;
  background-image: url(./images/presence.png);
  background-size: contain;
  background-position: 30% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  padding: 8vw;

  color: #54000c;
}

      #presence:hover {
        transform: rotate(6deg);
      }

#lineages {
  margin-top: 25em;
  float: left;
  background-image: url(./images/lineages.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 3;
  padding: 6vw;

  color: #97ebd3;
}

      #lineages:hover {
        transform: rotate(7deg);
      }

#score {
  margin-top: 26em;
  right: 0px;
  background-image: url(./images/score.png);
  background-size: contain;
  background-position: 65% 30%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 3;
  padding: 6.5vw;

  color: #a72b00;
}

      #score:hover {
        transform: rotate(-3deg);
      }

#about {
  margin-top: 36em;
  left: 30%;
  background-image: url(./images/about.png);
  background-size: contain;
  background-position: 70% 60%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
  padding: 5.5vw;

  color: #FFFFFF;
}

      #about:hover {
        transform: rotate(-9deg);
      }

#main-section {
  max-height: 50em;
  position: relative;
}

#current-section {
  z-index: auto;
  position: relative;
  height: 30em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 6vw;
  border: 1px solid #BDB68A; 
  border-radius: 20px;
  font-family: "Space Mono", sans-serif;
}

#section-bed {
}

#section-why {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  max-height: 80%;
  padding: 2vw;
  overflow-y: scroll;
  display: none;
}

      #section-why::-webkit-scrollbar {
        width: .8em;
      }

      /* Track */
      #section-why::-webkit-scrollbar-track {
        border: 1px solid #BDB68A;
        border-radius: 10px;
      }

      /* Handle */
      #section-why::-webkit-scrollbar-thumb {
        border: 1px solid #BDB68A;
        background: transparent;
        border-radius: 10px;
      }

#section-presence {
  display: none;
  padding-left: 4vw;
  padding-right: 4vw;
  overflow: hidden;
  font-size: 30px;
}

#section-lineages {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  max-height: 80%;
  padding: 2vw;
  overflow-y: scroll;
  display: none;
}

      #section-lineages::-webkit-scrollbar {
        width: .8em;
      }

      /* Track */
      #section-lineages::-webkit-scrollbar-track {
        border: 1px solid #BDB68A;
        border-radius: 10px;
      }

      /* Handle */
      #section-lineages::-webkit-scrollbar-thumb {
        border: 1px solid #BDB68A;
        background: transparent;
        border-radius: 10px;
      }

#section-score {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  max-height: 80%;
  padding: 2vw;
  overflow-y: scroll;
  display: none;
}

      #section-score::-webkit-scrollbar {
        width: .8em;
      }

      /* Track */
      #section-score::-webkit-scrollbar-track {
        border: 1px solid #BDB68A;
        border-radius: 10px;
      }

      /* Handle */
      #section-score::-webkit-scrollbar-thumb {
        border: 1px solid #BDB68A;
        background: transparent;
        border-radius: 10px;
      }

#section-about {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  max-height: 80%;
  padding: 2vw;
  overflow-y: scroll;
  display: none;
}
      #section-about::-webkit-scrollbar {
        width: .8em;
      }

      /* Track */
      #section-about::-webkit-scrollbar-track {
        border: 1px solid #BDB68A;
        border-radius: 10px;
      }

      /* Handle */
      #section-about::-webkit-scrollbar-thumb {
        border: 1px solid #BDB68A;
        background: transparent;
        border-radius: 10px;
      }

#chat-container {
  max-height: 200px;
  overflow: scroll;
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

#chat-container::-webkit-scrollbar {
  width: .8em;
}

/* Track */
#chat-container::-webkit-scrollbar-track {
  border: 1px solid #BDB68A;
  border-radius: 10px;
}

/* Handle */
#chat-container::-webkit-scrollbar-thumb {
  border: 1px solid #BDB68A;
  background: transparent;
  border-radius: 10px;
}

.response {
/*  border: .5px solid white;
  border-radius: 2px;*/
  margin: 5px 10px 5px 10px;
  transition: color 1.5s ease-in-out;
}

.response:hover {
  color: transparent;
}

input {
  font-family: "OCR A", sans-serif;
  height: 40px;
  border: 1px solid #BDB68A;
  border-radius: 15px;
  background-color: transparent;
}

input[type=text] {
  width: 45%;
  padding: 5px 10px 5px 10px;
  transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
  color: #BDB68A;
  width: 60%;
}

input[type=submit] {
  color:#BDB68A;
  width: 10%;
  cursor:  pointer;
  transition: color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

input[type=submit]:hover {
  background-color: rgba(199, 199, 199, .7);
  color: #572766;
}

input:focus::placeholder {
  color: transparent;
}

